<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ibrahimrecepserpici.echauffeur">

    <application>
        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDpx8Pv0y7U1pNz85zXueI_D39SspeO-NY"/>
    </application>

</manifest>